/* The grid: Four equal columns that floats next to each other */
.color {
  float: left;
  width: 15%;
  padding: 10px;
}

/* Style the images inside the grid */
.color img {
  opacity: 0.8;
  width: auto;
  max-width: max-content;
  cursor: pointer;
}

.color img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.colorContainer {
  position: relative;
  display: flex;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}